@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #333;
  line-height: 1.6;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

#currentpage {
  border-bottom: 2px #fff solid;
}

.bottom {
  height: 45px;
  color: lightslategray;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #A2EDC9;
  color: #333;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #333;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.bottom .flex {
  justify-content: space-between;
}

.showcase {
  margin-top: 70px;
  padding: 20px;
  height: 100%;
  min-height: 500px;
  background-color: #DCF6F0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cvcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  flex-basis: 20%;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
}

.cardchart {
  height: 500px;
  flex-basis: 100%;
  background-color: #fff;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
}

.container-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


